<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- The compiled powertoys. -->
  <Fragment Id="G.Binaries">

    <?define BinariesDiskId=1?>
    <Media Id="$(var.BinariesDiskId)" Cabinet="PowerToyBinaries.cab" EmbedCab="yes" />

    <DirectoryRef Id="D.Plugins">
      <Directory Id="D.Plugin.CsUnit" Name="CsUnit" FileSource="$(var.DynPowerToysBinariesDir)">
        <Component Id="C.Plugin.CsUnit" Guid="{9C5E75DE-ED64-488e-9F3C-9DEC5F244799}" Location="local" DiskId="$(var.BinariesDiskId)">
          <File Id="F.Plugin.CsUnit.Dll" Name="CsUnit.dll" Checksum="yes" Vital="yes" KeyPath="yes" ReadOnly="yes" />
          <File Id="F.Plugin.CsUnit.Pdb" Name="CsUnit.pdb" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
          <File Id="F.Plugin.CsUnit.Xml" Name="CsUnit.xml" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
        </Component>
      </Directory>
      <Directory Id="D.Plugin.CyclomaticComplexity" Name="CyclomaticComplexity" FileSource="$(var.DynPowerToysBinariesDir)">
        <Component Id="C.Plugin.CyclomaticComplexity" Guid="{640C7837-31E5-4839-B0D7-8E6E5A759A44}" Location="local" DiskId="$(var.BinariesDiskId)">
          <File Id="F.Plugin.CyclomaticComplexity.Dll" Name="CyclomaticComplexity.dll" Checksum="yes" Vital="yes" KeyPath="yes" ReadOnly="yes" />
          <File Id="F.Plugin.CyclomaticComplexity.Pdb" Name="CyclomaticComplexity.pdb" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
          <File Id="F.Plugin.CyclomaticComplexity.Xml" Name="CyclomaticComplexity.xml" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
        </Component>
      </Directory>
      <Directory Id="D.Plugin.ExploreTypeInterface" Name="ExploreTypeInterface" FileSource="$(var.DynPowerToysBinariesDir)">
        <Component Id="C.Plugin.ExploreTypeInterface" Guid="{F678949B-CFB3-4032-AA2A-1A8A37A3ED71}" Location="local" DiskId="$(var.BinariesDiskId)">
          <File Id="F.Plugin.ExploreTypeInterface.Dll" Name="ExploreTypeInterface.dll" Checksum="yes" Vital="yes" KeyPath="yes" ReadOnly="yes" />
          <File Id="F.Plugin.ExploreTypeInterface.Pdb" Name="ExploreTypeInterface.pdb" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
          <File Id="F.Plugin.ExploreTypeInterface.Xml" Name="ExploreTypeInterface.xml" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
        </Component>
      </Directory>
      <Directory Id="D.Plugin.FindText" Name="FindText" FileSource="$(var.DynPowerToysBinariesDir)">
        <Component Id="C.Plugin.FindText" Guid="{794262E2-3486-4970-9E84-774F97B560C8}" Location="local" DiskId="$(var.BinariesDiskId)">
          <File Id="F.Plugin.FindText.Dll" Name="FindText.dll" Checksum="yes" Vital="yes" KeyPath="yes" ReadOnly="yes" />
          <File Id="F.Plugin.FindText.Pdb" Name="FindText.pdb" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
          <File Id="F.Plugin.FindText.Xml" Name="FindText.xml" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
        </Component>
      </Directory>
      <Directory Id="D.Plugin.GenerateDispose" Name="GenerateDispose" FileSource="$(var.DynPowerToysBinariesDir)">
        <Component Id="C.Plugin.GenerateDispose" Guid="{329022EB-1890-49BF-AE60-F1B9E830A7E9}" Location="local" DiskId="$(var.BinariesDiskId)">
          <File Id="F.Plugin.GenerateDispose.Dll" Name="GenerateDispose.dll" Checksum="yes" Vital="yes" KeyPath="yes" ReadOnly="yes" />
          <File Id="F.Plugin.GenerateDispose.Pdb" Name="GenerateDispose.pdb" Checksum="yes" Vital="no" KeyPath="no" ReadOnly="yes" />
          <File Id="F.Plugin.GenerateDispose.Xml" Name="GenerateDispose.xml" Checksum="yes" Vital="no" KeyPath="no" ReadOnly="yes" />
        </Component>
      </Directory>
      <Directory Id="D.Plugin.LiveTemplatesMacro" Name="LiveTemplatesMacro" FileSource="$(var.DynPowerToysBinariesDir)">
        <Component Id="C.Plugin.LiveTemplatesMacro" Guid="{091AA9BC-5413-4fcc-837E-4DF5E517EB6D}" Location="local" DiskId="$(var.BinariesDiskId)">
          <File Id="F.Plugin.LiveTemplatesMacro.Dll" Name="LiveTemplatesMacro.dll" Checksum="yes" Vital="yes" KeyPath="yes" ReadOnly="yes" />
          <File Id="F.Plugin.LiveTemplatesMacro.Pdb" Name="LiveTemplatesMacro.pdb" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
          <File Id="F.Plugin.LiveTemplatesMacro.Xml" Name="LiveTemplatesMacro.xml" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
        </Component>
      </Directory>
      <Directory Id="D.Plugin.MakeMethodGeneric" Name="MakeMethodGeneric" FileSource="$(var.DynPowerToysBinariesDir)">
        <Component Id="C.Plugin.MakeMethodGeneric" Guid="{5C4C35CF-0711-40BC-A1AB-5C44F02F2CAB}" Location="local" DiskId="$(var.BinariesDiskId)">
          <File Id="F.Plugin.MakeMethodGeneric.Dll" Name="MakeMethodGeneric.dll" Checksum="yes" Vital="yes" KeyPath="yes" ReadOnly="yes" />
          <File Id="F.Plugin.MakeMethodGeneric.Pdb" Name="MakeMethodGeneric.pdb" Checksum="yes" Vital="no" KeyPath="no" ReadOnly="yes" />
          <File Id="F.Plugin.MakeMethodGeneric.Xml" Name="MakeMethodGeneric.xml" Checksum="yes" Vital="no" KeyPath="no" ReadOnly="yes" />
        </Component>
      </Directory>
      <Directory Id="D.Plugin.MenuItem" Name="MenuItem" FileSource="$(var.DynPowerToysBinariesDir)">
        <Component Id="C.Plugin.MenuItem" Guid="{8ABACE01-6A20-4953-947A-63528E438F48}" Location="local" DiskId="$(var.BinariesDiskId)">
          <File Id="F.Plugin.MenuItem.Dll" Name="MenuItem.dll" Checksum="yes" Vital="yes" KeyPath="yes" ReadOnly="yes" />
          <File Id="F.Plugin.MenuItem.Pdb" Name="MenuItem.pdb" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
          <File Id="F.Plugin.MenuItem.Xml" Name="MenuItem.xml" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
        </Component>
      </Directory>
      <Directory Id="D.Plugin.OptionsPage" Name="OptionsPage" FileSource="$(var.DynPowerToysBinariesDir)">
        <Component Id="C.Plugin.OptionsPage" Guid="{CECA00B6-C33D-481c-A9DE-247B6AEAB668}" Location="local" DiskId="$(var.BinariesDiskId)">
          <File Id="F.Plugin.OptionsPage.Dll" Name="OptionsPage.dll" Checksum="yes" Vital="yes" KeyPath="yes" ReadOnly="yes" />
          <File Id="F.Plugin.OptionsPage.Pdb" Name="OptionsPage.pdb" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
          <File Id="F.Plugin.OptionsPage.Xml" Name="OptionsPage.xml" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
        </Component>
      </Directory>
      <Directory Id="D.Plugin.ZenCoding" Name="ZenCoding" FileSource="$(var.DynPowerToysBinariesDir)">
        <Component Id="C.Plugin.ZenCoding" Guid="{776892F9-F35B-4D7D-B426-68EC71B9DD95}" Location="local" DiskId="$(var.BinariesDiskId)" KeyPath="yes">
          <File Id="F.Plugin.ZenCoding.Dll" Name="ZenCoding.dll" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
          <File Id="F.Plugin.ZenCoding.Pdb" Name="ZenCoding.pdb" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
          <File Id="F.Plugin.ZenCoding.Xml" Name="ZenCoding.xml" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
          <File Id="F.Plugin.IronPython.Dll" Name="IronPython.dll" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
          <File Id="F.Plugin.IronPython.Xml" Name="IronPython.xml" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
          <File Id="F.Plugin.IronPython.Modules.Dll" Name="IronPython.Modules.dll" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
          <File Id="F.Plugin.IronPython.Modules.Xml" Name="IronPython.Modules.xml" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
          <File Id="F.Plugin.Microsoft.Dynamic.Dll" Name="Microsoft.Dynamic.dll" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
          <File Id="F.Plugin.Microsoft.Scripting.Core.Dll" Name="Microsoft.Scripting.Core.dll" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
          <File Id="F.Plugin.Microsoft.Scripting.Debugging.Dll" Name="Microsoft.Scripting.Debugging.dll" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
          <File Id="F.Plugin.Microsoft.Scripting.Dll" Name="Microsoft.Scripting.dll" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
          <File Id="F.Plugin.Microsoft.Scripting.ExtensionAttribute.Dll" Name="Microsoft.Scripting.ExtensionAttribute.dll" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
        </Component>
        <Directory Id="D.Plugin.ZenCoding.Sys" Name="sys" FileSource="$(var.DynPowerToysBinariesDir)\sys">
          <Component Id="C.Plugin.ZenCoding.Sys" Guid="{FB29B211-791B-46A1-82B0-8367A130BE90}" Location="local" DiskId="$(var.BinariesDiskId)" KeyPath="yes">
            <File Id="F.Plugin.ZenCoding.Sys.Copy.Py" Name="copy.py" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
            <File Id="F.Plugin.ZenCoding.Sys.Types.Py" Name="types.py" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
          </Component>
        </Directory>
        <Directory Id="D.Plugin.ZenCoding.Zencoding" Name="zencoding" FileSource="$(var.DynPowerToysBinariesDir)\zencoding">
          <Component Id="C.Plugin.ZenCoding.Zencoding" Guid="{5A4FE512-B469-46B4-8B2C-2F93F5CF9428}" Location="local" DiskId="$(var.BinariesDiskId)" KeyPath="yes">
            <File Id="F.Plugin.ZenCoding.Zencoding.__init__.Py" Name="__init__.py" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
            <File Id="F.Plugin.ZenCoding.Zencoding.Html_matcher.Py" Name="html_matcher.py" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
            <File Id="F.Plugin.ZenCoding.Zencoding.Htmlparser.Py" Name="htmlparser.py" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
            <File Id="F.Plugin.ZenCoding.Zencoding.My_zen_settings.Py" Name="my_zen_settings.py" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
            <File Id="F.Plugin.ZenCoding.Zencoding.Stparser.Py" Name="stparser.py" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
            <File Id="F.Plugin.ZenCoding.Zencoding.Zen_core.Py" Name="zen_core.py" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
            <File Id="F.Plugin.ZenCoding.Zencoding.Zen_settings.Py" Name="zen_settings.py" Checksum="yes" Vital="yes" KeyPath="no" ReadOnly="yes" />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>

    <Feature Id="U.Binaries" Title="Binaries" Level="1" AllowAdvertise="no" InstallDefault="local" Display="expand" Description="The compiled assemblies, installed as R# plugins, either under the R# directory, or into the user's Local Applocation Data folder.">
      <Feature Id="U.Plugin.CsUnit" Title="CsUnit" Level="1" AllowAdvertise="no" InstallDefault="local" Display="expand" Description="Installs the PowerToy assembly as a R# plugin.">
        <ComponentRef Id="C.Plugin.CsUnit" />
      </Feature>
      <Feature Id="U.Plugin.CyclomaticComplexity" Title="CyclomaticComplexity" Level="1" AllowAdvertise="no" InstallDefault="local" Display="expand" Description="Installs the PowerToy assembly as a R# plugin.">
        <ComponentRef Id="C.Plugin.CyclomaticComplexity" />
      </Feature>
      <Feature Id="U.Plugin.ExploreTypeInterface" Title="ExploreTypeInterface" Level="1" AllowAdvertise="no" InstallDefault="local" Display="expand" Description="Installs the PowerToy assembly as a R# plugin.">
        <ComponentRef Id="C.Plugin.ExploreTypeInterface" />
      </Feature>
      <Feature Id="U.Plugin.FindText" Title="FindText" Level="1" AllowAdvertise="no" InstallDefault="local" Display="expand" Description="Installs the PowerToy assembly as a R# plugin.">
        <ComponentRef Id="C.Plugin.FindText" />
      </Feature>
      <Feature Id="U.Plugin.GenerateDispose" Title="GenerateDispose" Level="1" AllowAdvertise="no" InstallDefault="local" Display="expand" Description="Installs the PowerToy assembly as a R# plugin.">
        <ComponentRef Id="C.Plugin.GenerateDispose" />
      </Feature>
      <Feature Id="U.Plugin.LiveTemplatesMacro" Title="LiveTemplatesMacro" Level="1" AllowAdvertise="no" InstallDefault="local" Display="expand" Description="Installs the PowerToy assembly as a R# plugin.">
        <ComponentRef Id="C.Plugin.LiveTemplatesMacro" />
      </Feature>
      <Feature Id="U.Plugin.MakeMethodGeneric" Title="MakeMethodGeneric" Level="1" AllowAdvertise="no" InstallDefault="local" Display="expand" Description="Installs the PowerToy assembly as a R# plugin.">
        <ComponentRef Id="C.Plugin.MakeMethodGeneric" />
      </Feature>
      <Feature Id="U.Plugin.MenuItem" Title="MenuItem" Level="1" AllowAdvertise="no" InstallDefault="local" Display="expand" Description="Installs the PowerToy assembly as a R# plugin.">
        <ComponentRef Id="C.Plugin.MenuItem" />
      </Feature>
      <Feature Id="U.Plugin.OptionsPage" Title="OptionsPage" Level="1" AllowAdvertise="no" InstallDefault="local" Display="expand" Description="Installs the PowerToy assembly as a R# plugin.">
        <ComponentRef Id="C.Plugin.OptionsPage" />
      </Feature>
      <Feature Id="U.Plugin.ZenCoding" Title="ZenCoding" Level="1" AllowAdvertise="no" InstallDefault="local" Display="expand" Description="Installs the PowerToy assembly as a R# plugin.">
        <ComponentRef Id="C.Plugin.ZenCoding" />
        <ComponentRef Id="C.Plugin.ZenCoding.Sys" />
        <ComponentRef Id="C.Plugin.ZenCoding.Zencoding" />
      </Feature>
    </Feature>

  </Fragment>
</Wix>
